* {
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 17px;
}

#logo {
    padding: 5px 26px;
}

nav{
    background-color: #e7c436;
}

.nav-item {
    padding: 0px 18px 0px 0px;
}

.nav-item a {
    color: #fff;
}


footer {
    color: #fff;
    background-color: #e7c436;
}

footer li {
    list-style-type: none;
    margin: 20px;
}



footer a {
    text-decoration: none;
    color: #fff;
}

.footer-helpful a:hover {
    text-decoration: none;
    color: #565656;
}

footer .follow-us img {
    width: 40px;
    margin-right: 15px;
    margin-top: 10px;
}

#footer-copyright{
    background-color: #e7c436;
}

#footer-copyright h5 {
    margin: 30px;
    color: rgb(255, 235, 122);
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
}